<h3>Редактирование данных обонента</h3>
<mat-grid-list cols="2" gutterSize="50px">
  <mat-grid-tile>
    <p>Старые данные:</p>
    <form class="disabled-form">
      <mat-form-field>
        <input matInput placeholder="Фамилия" value = {{user.surname}} [disabled]='true'>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Тип документа" [value]="user.doctype" name="doctype" [disabled]='true'>
          <mat-option *ngFor="let doctype of doctypes" [value]="doctype.value">
            {{doctype.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Страна выдачи" value = {{user.country}} [disabled]='true'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Дата выдачи" value = {{user.date}} [disabled]='true'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Серия и номер" value = {{(user.seriesNumber)}} [disabled]='true'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Код подразделения" value = {{user.code}} [disabled]='true'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Орган, выдавший документ" value = {{user.authority}} [disabled]='true'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Адрес регистрации" value = {{user.address}} [disabled]='true'>
      </mat-form-field>
    </form>
  </mat-grid-tile>

  <mat-grid-tile>
    <p>Изменить на:</p>
    <form [formGroup]="updateForm">
      <mat-form-field>
        <input matInput placeholder="Фамилия" formControlName="surname">
        <mat-error>
          Неверно заполнено поле
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Тип документа" formControlName="doctype">
          <mat-option *ngFor="let doctype of doctypes" [value]="doctype.value">
            {{doctype.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Страна выдачи" formControlName="country">
        <mat-error>
          Неверно заполнено поле
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Дата выдачи" formControlName="date">
        <mat-error>
          Неверно заполнено поле
        </mat-error>
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
